.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    color: #343a40;
  }
  
  .button-group {
    display: flex;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      background-color: #0069d9;  // Cor de fundo azul mais escuro ao passar o mouse
      transform: scale(1.05);     // Efeito de aumento no tamanho do botão
    }
  
    &:focus {
      outline: none;  // Remove o contorno padrão quando o botão é clicado
    }
  }

  
  // Estilo personalizado para o botão de criação de autor
button.btn {
    background-color: #3498db; // Cor de fundo (azul)
    border: 1px solid #2980b9; // Cor da borda (tom mais escuro de azul)
    color: white; // Cor do texto
  
    // Borda arredondada para o botão
    border-radius: 5px;
    margin-bottom: 30px;
  
    // Tamanho do botão
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: bold;
  
    // Efeito de sombra para o botão
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    // Transição suave ao passar o mouse
    transition: all 0.3s ease;
  
    // Quando o botão estiver em foco
    &:focus {
      outline: none; // Remove o contorno padrão
      box-shadow: 0 0 10px rgba(52, 152, 219, 0.6); // Sombra azul clara ao focar no botão
    }
  
    // Quando o botão for hovered
    &:hover {
      background-color: #2980b9; // Cor de fundo escura no hover
      border-color: #1f6390; // Cor de borda mais escura
      transform: translateY(-2px); // Levantar o botão ao passar o mouse
    }
  
    // Efeito ao clicar no botão
    &:active {
      background-color: #1f6390; // Cor de fundo mais escura quando pressionado
      border-color: #1a4f7b; // Borda mais escura
      transform: translateY(0); // Botão volta à posição original
    }
  }
  
  