<div class="container p-4">
  <h1 class="text-center mb-4" *ngIf="!(isLoading$ | async)">Authors</h1>
  <div class="text-center mb-4">
    <button class="btn btn-primary" [routerLink]="['/create-author']">Create New Author</button>
  </div>
  <div *ngIf="error$ | async" class="alert alert-danger">
    {{ error$ | async }}
  </div>

  <div *ngIf="isLoading$ | async" class="text-center">
    <p>Loading authors...</p>
  </div>

  <ul class="list-group" *ngIf="!(isLoading$ | async)">
    <li *ngFor="let author of authors$ | async"
      class="list-group-item d-flex justify-content-between align-items-center">
      <div (click)="viewAuthorDetail(author.id)" class="d-flex align-items-center">
        <strong>{{ author.name }}</strong>
      </div>
      <div>
        <button class="btn btn-danger btn-sm" (click)="deleteAuthor(author.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
