<div class="container p-4">
  <h1 class="text-center mb-4" *ngIf="!(isLoading$ | async)">Update Author</h1>

  <div *ngIf="error$ | async" class="alert alert-danger">
    {{ error$ | async }}
  </div>

  <div *ngIf="isLoading$ | async" class="text-center">
    <p>Loading author details...</p>
  </div>
  <form *ngIf="!(isLoading$ | async) && (author$ | async) as author" (ngSubmit)="updateAuthor()">
    <!-- O formulário será exibido somente quando o autor estiver carregado e o carregamento estiver completo -->
  
    <div class="mb-3">
      <label for="name" class="form-label">Author Name</label>
      <input 
        type="text" 
        id="name" 
        class="form-control" 
        [(ngModel)]="author.name" 
        name="name" 
        required
      />
    </div>
  
    <div class="mb-3">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input 
        type="date" 
        id="birthDate" 
        class="form-control" 
        [(ngModel)]="author.birthDate" 
        name="birthDate" 
        required
      />
    </div>
  
    <button type="submit" class="btn btn-primary">Update Author</button>
    <button class="btn btn-secondary mt-4" [routerLink]="['/authors']">Back to Authors</button>
  </form>
  
</div>
